<% if @group.pending_approvals.any? %>
  <h2>Projects waiting for approval:</h2>
  <div class="pending-approvals">
  <div class="thumbnails-small">
    <% @group.pending_approvals.each do |approval| %>
  <% project = approval.project %>
    <li class="project-span">
    <div class="thumbnail-small">
      <%= link_to project do %>
        <%= project.decorate.thumbnail_tag %>
      <% end %>
        <h4 class="ellipsisName"><%= link_to project.name, project %></h4>
        <p class="byline">by <%= link_to project.owner.name, project.owner %></p>
        <%= link_to 'Approve', approve_approval_path(@group, approval), :class => "btn btn-primary btn-mini" %>
        <%= link_to 'Reject', '#', :class => "btn btn-danger btn-mini", :onclick => "$(\"#myModal-#{approval.id}\").modal('show')" %>
      </div>
    </li>

  <div id=<%= "myModal-#{approval.id}" %> class="modal fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3>Please provide a reason for rejecting this project.</h3>
    </div>
    <div class="modal-body">
      <%= form_tag reject_approval_path(@group, approval) do %>
        <%= text_area_tag :reason, '', :class => 'field span4', :rows => 6 %>

    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" >Cancel</a>
      <%= submit_tag "Submit", :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>
</div>
</div>
<% end %>

<!-- Email Modal -->
<% unless @approval.nil? %>
<script>
   $(document).ready(function () {
     $("<%= "#myModal-#{@approval.id}" %>").modal('show');
    });
</script>
<% end %>
