<h1><%= @group.name %></h1>

<div class="admin-header">
  <%= link_to "Delete group", destroy_group_path(@group), :confirm => "Are you sure? This can not be reversed.", :class => 'btn btn-large btn-danger pull-right' %>
  <%= link_to "Edit group", edit_group_path(@group), :class => 'btn btn-large btn-success pull-right edit-pad' %>
</div>

<%= render 'approvals' %>

<div class="row">
  <h4><%= link_to '< Back to Group Page', @group %></h4>
</div>
