<div class="section-header">
	<% if list.title == "" %>
	  <h3>
	  	Untitled List
	  	<% if list_owner?(list) %>
	  		 - <%= link_to 'edit list', edit_list_path(list), :class => 'edit' %>
	 	<% end %>
	  </h3>
	<% else %>
	  <h3>
	  	<%= list.title %>
	  	<% if list_owner?(list) && !list.permanent? %>
	  		 - <%= link_to 'edit list', edit_list_path(list), :class => 'edit' %>
	 	<% end %>
	  </h3>
	<% end %>
	<%= link_to "see all >", list, :class => 'more' %>
</div>

<div class="row">
  <ul class="thumbnails-small">
    <% for project in get_projects_in_order(list,limit) %>
      <li class="project-span">
      	<%= render :partial => partial, :locals => { :project => project } %><br>
      </li>
    <% end %>
  </ul>
</div>
