<%= form_tag update_list_path(@list) do %>
  List Title: <%= text_field_tag :title, @list.title %><br>
  <br>
  Show Active Projects <%= check_box_tag 'showActive', true, @list.show_active %><br>
  Show Funded Projects <%= check_box_tag 'showFunded', true, @list.show_funded %><br>
  Show Non-Funded Projects <%= check_box_tag 'showNonfunded', true, @list.show_nonfunded %><br>
  <br>
  <%= submit_tag "Save List", :class => 'btn' %>
  <%= link_to "Delete This List", destroy_list_path(@list), :class => 'btn btn-danger' %>
<% end %>

<h3>Projects</h3>

Add a project
<%= form_tag add_listing_path(@list) do %>
  <%= select 'project', 'id', current_user.projects.collect { |p| [p.name, p.id] } %>
  <%= submit_tag 'Add Project', class: 'btn' %>
<% end %>

Drag to sort, or sort by an attribute:<br/>

<select id="sort-attribute">
  <option value="created-at">Creation Date</option>
  <option value="end-date">End Date</option>
  <option value="funding-goal">Funding Goal</option>
  <option value="amount-left-to-goal-in-dollars">Amount Remaining</option>
  <option value="amount-left-to-goal-as-percent">Percent Remaining</option>
  <option value="amount-donated-in-dollars">Amount Donated</option>
  <option value="amount-donate-as-percent-of-goal">Percent Donated</option>
</select>
<select id="sort-order">
  <option value="asc">Ascending</option>
  <option value="desc">Descending</option>
</select>
<button id="reorder-by-attribute" class="btn btn-primary">Reorder!</button>

<ul id="project_listings" class="thumbnails-small" data-update-url="<%= sort_listings_url %>">
  <% @ordered_listings.each do |listing| %>
    <% project = listing.item %>
    <%= content_tag_for :li, listing, class: 'project-span', data: {
          created_at: project.created_at,
          end_date: project.end_date,
          funding_goal: project.funding_goal,
          amount_left_to_goal_in_dollars: project.left_to_goal,
          amount_left_to_goal_as_percent: project.contributions_percentage,
          amount_donated_in_dollars: project.contributions_total,
          amount_donated_as_percent_of_goal: project.contributions_percentage
        } do %>
      <%= render :partial => 'shared/project', :locals => { :project => listing.item } %><br>
    <% end %>
  <% end %>
</ul>
