<%= form_tag update_list_path(@list) do %>
  List Title: <%= text_field_tag :title, @list.title %><br>
  Arrange by:<%= select_tag "kind", "<option selected=\"selected\">created at</option><option >end date</option><option>funding goal</option><option>amount left to goal in dollars</option><option>amount left to goal as percent</option><option>amount donated in dollars</option><option>amount donated as percent of goal</option><option>random</option>".html_safe %>
  Sort:<%= select_tag "order", "<option>ascending</option><option>descending</option>".html_safe %>
  <br>
  Show Active Projects <%= check_box_tag 'showActive', true, @list.show_active %><br>
  Show Funded Projects <%= check_box_tag 'showFunded', true, @list.show_funded %><br>
  Show Non-Funded Projects <%= check_box_tag 'showNonfunded', true, @list.show_nonfunded %><br>
  <br>
  <%= submit_tag "Save List", :class => 'btn' %>
  <%= link_to "Delete This List", destroy_list_path(@list), :class => 'btn btn-danger float-left' %>
<% end %>
<h3>Projects</h3>
<div class="row">
  <ul id="listings">
    <% @list.listings.each do |listing| %>
      <li id=<%= "listing_#{listing.id}" %> >
        <div class="row">
          <div class="span1">
            <span class='handle'>
              <%= image_tag "BlockSThumb.png", :width => '60' %>
            </span>
          </div>
          <div class="span11">
            <%= link_to listing.item.name, listing.item, :title => listing.item.name %>&nbsp;
            <%= number_to_currency(listing.item.contributions_total, :precision => 0) %> raised out of <%= number_to_currency(listing.item.funding_goal) %>&nbsp;
            <%= listing.item.contributions.size %> backers&nbsp;
            <%= listing.item.short_description %>&nbsp;
            End Date: <%= listing.item.end_date %>
          </div>
        <%= link_to 'Remove', destroy_listing_path(listing) %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
