<%#TODO very similar to app/views/projects/_picture %>
<%= f.hidden_field :picture_cache %>

<div class="field">
  <% if @user.picture? %>
      <%= f.label :picture, "New Picture (optional): " %>
      <%= f.file_field :picture, :class => 'picture-btn' %>
      <div class="pull-right"> <span class="bold">Current Picture:</span> <%= image_tag @user.picture.url(:thumb), :width => '100' %></div>
    <% else %>
      <%= f.label :picture, "Picture: " %>
      <%= f.file_field :picture, :class => 'picture-btn' %>
    <% end %>
</div>
