<div id="edit_user">

<h2>Edit <%= resource_name.to_s.humanize %> Profile</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true, :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form_field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form_field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="form_field">
    <%= render :partial => "picture", :locals => {:f => f} %><br />
  </div>

  <div class ="form_field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="form_field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password %>
  </div>

  <div class="form_field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="form_field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password %>
  </div>

  <div class="form_field">
    <%= f.submit "Update" %>
  </div>

<% end %>

<br/>
<%= button_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure you want to delete your account? This will delete all of your projects and all the contributions to those projects.", :method => :delete %>

</div>
