<div id="new_user">

<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
 
  <div class="name"><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div class="email"><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div class="password"><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div class="password_confirm"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>
</div>

<% link_to "Sign in", new_user_session_path %>
