<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
			$('#user_name').focus();
    });
  </script>
<% end %>

<div class="well" id="new_user">

<h2>Sign up</h2><br/>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
 
  <div class="new_form">
  Name <%= f.text_field :name %></div>

  <div class="new_form">
  Email Address <%= f.email_field :email %></div>

  <div class="new_form">
  Password<%= f.password_field :password %></div>

  <div class="new_form">
  Confirm Password<%= f.password_field :password_confirmation %></div>

<br />

  <div><%= f.submit "Sign up" %></div>

<% end %>

<p><%= link_to "Already have an account? Sign in", new_user_session_path %></p>
</div>
