<div id="userProfile">
	<% if @user.picture? %>
		<%= image_tag @user.picture.url(:show), :class => "userImage" %>
	<% else %>
		<%= image_tag "defultProfilePic.jpg", :class => "userImage" %>
	<% end %>
	<br>

	<h1> <%= @user.name %> </h1>
	<h2> <%= @user.location %> </h2>

	<h3> Created Projects </h3>
	<ul class="userProjects">
	<% @user.projects.each do |project|%>
		<li><%= link_to project.name , project%></li>
	<% end %>
	</ul>

	<h3> Contributions </h3>
	<ul class="userContributions">
	<% @user.contributions.each do |contribution|%>
		<li><%= link_to contribution.project.name, contribution.project %>
		<% if can? :update, contribution %>
			- <%= link_to "Edit Contribution", edit_contribution_url(contribution) %>
		<% end %>
		</li>
	<% end %>
	</ul>
</div>
