<div class="profile-head">
  <div class="row">
    <div class="span2">
    <div class="profile-pic thumbnail">
      <% if @user.picture? %>
        <%= image_tag @user.picture.url(:show) %>
      <% else %>
        <%= image_tag "defaultProfilePic.jpg", :width => '150' %>
      <% end %>
    </div>
    </div>
    <div class="span3" id="userProfile">
      <h1> <%= @user.name %> </h1>
      <p>&nbsp;</p>
      <blockquote>
        <% if @user.location? %>
          <strong>Location:</strong> <%= @user.location %><br>
        <% end %>
          &nbsp;<strong>Member Since:</strong> <%= @user.created_at.strftime("%B %d, %Y") %><br>
          &nbsp; <%= link_to "Add a List", add_list_to_user_path(@user) %>
      </blockquote>
    </div>
  </div>
</div>

<% if @user.projects.size == 0 %>
  <div class="section-header">
	  <h3><%= @user.name %>'s Projects</h3>
  </div>
  <div class="row offset1-5">
    <%= link_to "No Projects yet. Click here to get going, or whatever.", new_project_url %>
  </div>
<% else %>
	<% for list in @user.lists %>
		<%= render :partial => 'lists/list', :locals => {:list => list, :partial => "shared/project", :limit => 4} %>
	<% end %>
<% end %>
<p>&nbsp;</p>
	<div id="tabs">
  	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#userContributions" data-toggle="tab">Contributions</a></li>
	    <li><a href="#userComments" data-toggle="tab">Comments</a></li>
  	  </ul>
	</div>

<div class="tab-content">
  <div class="tab-pane active" id ="userContributions">
	<h3> Contributions </h3>
	<% if @user.contributions.size > 0 %>
	<ul>
		<% @user.contributions.each do |contribution|%>
			<%= link_to contribution.project.name, contribution.project %><br/>
			<% if @user == current_user %>
				- <%=   %> 
				<%= link_to "#{number_to_currency(contribution.amount, :precision => 0)}", edit_contribution_url(contribution) %>
			<% end %>
			</li>
		<% end %>
	<% else %>
		<p>None yet!</p>
	</ul>
	<% end %>
  </div>
  
  <div class="tab-pane" id="userComments">
	<h3> Comments </h3><br>
		
  <ul class="projectComments">
  	<h4><%= "This user has no comments." if @user.comments.size == 0 %></h4>
    <% @user.comments.each do |comment|%>
      <% @ComPro = Project.where(:id => comment.commentable_id).first %>
      <%= link_to @ComPro.name, Project.where(:id => comment.commentable_id).first %><br>
      <div id="comment_body">
        <li>
	      <%= comment.body %><br>
	      <% if comment_owner(comment) %>
	        <%= link_to 'delete', delete_comment_path(comment), :method => :delete %>
	      <% end %>
	    </li>
	  </div>
      <hr>
    <% end %>
  </ul> 
  </div>
</div>
</div>