<div id="userProfile">
<% if @user.picture? %>
  <%= image_tag @user.picture.url(:show), :class => "userImage" %>
  <br>
<% end %>

<h1> <%= @user.name %> </h1>
<h2> <%= @user.location %> </h2>

<h3> Created Projects </h3>
	<ul class="userProjects">
	<% @user.projects.each do |project|%>
		<%= link_to project.name , project%><br>
	<% end %>
	</ul>
<h3> Contributions </h3>
	<ul class="userContributions">
		<% @user.contributions.each do |contribution|%>
			<%= link_to contribution.project.name, contribution.project %>
			<% if can? :update, contribution %>
				<%= link_to "[edit]", edit_contribution_url(contribution) %>
			<% end %>
			<br>
		<% end %>
</div>
