<div id="userProfile">
	<% if @user.picture? %>
		<%= image_tag @user.picture.url(:show), :class => "userImage" %>
	<% else %>
		<%= image_tag "defaultProfilePic.jpg", :class => "userImage" %>
	<% end %>
	<br>

	<h1> <%= @user.name %> </h1>
	<h2> <%= @user.location %> </h2>

	<% if @user.projects.size > 0 %>
		<h3> Created Projects </h3>
		<div class="column1">
		<ul class="userProjects">
		<% @user.projects.each do |project|%>		
		    	<li><%= render :partial => 'shared/project', :locals => { :project => project } %></li>
		<% end %>
		</ul>
		</div>
	<% end %>


	<div id ="userContributions">
	<h3> Contributions </h3>
	<% if @user.contributions.size > 0 %>
	<ul>
		<% @user.contributions.each do |contribution|%>
			<%= link_to contribution.project.name, contribution.project %>
			<% if @user == current_user %>
				- <%=  %> 
				<%= link_to "#{number_to_currency(contribution.amount, :precision => 0)}", edit_contribution_url(contribution) %>
			<% end %>
			</li>
		<% end %>
	<% else %>
		<p>None yet!</p>
	</ul>
	<% end %>
</div>
