<div class="profile-head">
  <div class="row">
    <div class="span2 thumbnail">
      <% if @user.picture? %>
        <%= image_tag @user.picture.url(:show) %>
      <% else %>
        <%= image_tag "defaultProfilePic.jpg", :width => '170' %>
      <% end %>
    </div>
    <div class="span3">
      <h1> <%= @user.name %> </h1>
      <p>&nbsp;</p>
      <blockquote>
        <% if @user.location? %>
          Location: <%= @user.location %><br>
        <% end %>
        Member Since: <%= @user.created_at.strftime("%B %d, %Y") %>
      </blockquote>
    </div>
  </div>
</div>

<div class="section-header"><%= @user.name %>'s Projects</div>

<div class="row">
  <% if @user.projects.size > 0 %>
	<% @user.projects.each do |project|%>
	  <div class="column">
	    <%= render :partial => 'shared/project', :locals => { :project => project } %>
	    <ul>
	    <% if logged_in? and project.user_id == current_user.id and project.unconfirmed? %>
	  	  <li><%= button_to "Edit", edit_project_path(project), :method => 'get', :class => 'btn-info' %></li>
	  	  <li><%= button_to "Delete", project, :method => :delete, :confirm => "Are you sure you want to delete this project?", :class => 'btn-danger' %></li>
	  	   
	  	<% elsif logged_in? and project.user_id == current_user.id and project.inactive? %>
	  	  <li><%= button_to "Edit", edit_project_path(project), :method => 'get', :class => 'btn-info' %></li>
	      <li><%= button_to "Activate", project_path(:id => project.name, :activate => true), :method => :put, :confirm => "Are you sure you want to activate this project? You will not be able to edit the project once it is active.", :class => 'btn-success' %></li>
	  	  <li><%= button_to "Delete", project, :method => :delete, :confirm => "Are you sure you want to delete this project?", :class => 'btn-danger' %></li>
	  	
	  	<% elsif logged_in? and project.user_id == current_user.id and project.active? %>
	  	  <li><%= button_to "Update", project, :method => 'get', :class => 'btn-primary btn-row' %></li>
	  	  <li><%= button_to "Cancel", project, :method => :delete, :confirm => "Are you sure you want to cancel this project? All contributions to it will also be canceld.", :class => 'btn-danger btn-row' %></li>

	  	<% elsif logged_in? and project.user_id == current_user.id and (project.funded? or project.nonfunded? or project.cancelled?) %>
	  	    <li><%= button_to "Update", project, :method => 'get', :class => 'btn-primary btn-row' %></li>
        <% end %>
	    </ul>
	  </div>
	<% end %>
  <% end %>
</div>  	




	<div id="tabs">
  	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#userContributions" data-toggle="tab">Contributions</a></li>
	    <li><a href="#userComments" data-toggle="tab">Comments</a></li>
  	  </ul>
	</div>

<div class="tab-content">
  <div class="tab-pane active" id ="userContributions">
	<h3> Contributions </h3>
	<% if @user.contributions.size > 0 %>
	<ul>
		<% @user.contributions.each do |contribution|%>
			<%= link_to contribution.project.name, contribution.project %><br/>
			<% if @user == current_user %>
				- <%=   %> 
				<%= link_to "#{number_to_currency(contribution.amount, :precision => 0)}", edit_contribution_url(contribution) %>
			<% end %>
			</li>
		<% end %>
	<% else %>
		<p>None yet!</p>
	</ul>
	<% end %>
  </div>
  
  <div class="tab-pane" id="userComments">
	<h3> Comments </h3><br>
		
  <ul class="projectComments">
  	<h4><%= "This user has no comments." if @user.comments.size == 0 %></h4>
    <% @user.comments.each do |comment|%>
      <% @ComPro = Project.where(:id => comment.commentable_id).first %>
      <%= link_to @ComPro.name, Project.where(:id => comment.commentable_id).first %><br>
      <div id="comment_body">
        <li>
	      <%= comment.body %><br>
	      <% if comment_owner(comment) %>
	        <%= link_to 'delete', delete_comment_path(comment), :method => :delete %>
	      <% end %>
	    </li>
	  </div>
      <hr>
    <% end %>
  </ul> 
  </div>
</div>
</div>