  <div id="comment_body">
	<%= link_to comment.user do %>
  	<% if comment.user.picture? %>
    	<%= image_tag comment.user.picture.url(:thumb), :class => "userImage" %>
  	<% else %>
    	<%= image_tag "defaultProfilePic.jpg", :class => "userImage", :width=>"40"%>
  	<% end %>
	<li>
	  <%= comment.user.name %><br>
	<% end %>
	<%= comment.body %><%= comment_depth %>
	</li>
  </div>
  
  <div>
	<br><br>
	<% if comment_owner(comment) %>
	<%= link_to_function 'reply', "$('.reply').show()" %>
	  <%= link_to 'delete', delete_comment_path(comment), :method => :delete %>
	<% end %>
  </div>
    	
  	<blockquote>
  	<% if comment_depth < THREAD_DEPTH %>
		<% comment.children.each do |reply| %>
			<%= render :partial => 'comments/comment', :object => reply, :locals =>{:comment_depth => comment_depth + 1} %>
			<%= render :partial => "comment_form", :locals => {:parent => reply} if logged_in? %>
		<% end %>
	<% end %>
  	</blockquote>
  	<hr>