<div class="comment">
<div id="comment_body">
  <li>
    <%= link_to comment.user do %>
      <%= image_tag comment.user.decorate.picture_url(:thumb), class: "userImage" %>
      <span class="username"><%= comment.user.name %></span>
  <% end %>
  <% if comment.user == @project.owner %>
    &nbsp;&nbsp;<span class="userBadge"><%= link_to "project owner", comment.user %></span>
  <% end %>
  &nbsp;&nbsp;<span class="time"><%= time_ago_in_words(comment.created_at) %> ago</span><br>
  <% if comment.body == "comment deleted" %>
    <br>
    <span class="deleted"><%= comment.body %></span>
    <br>
  <% else %>
    <%= simple_format(comment.body) %>
  <% end %>
  <br>
  <p>
  <% if can? :destroy, comment %>
    <%= link_to 'delete', comment, :method => :delete %>
  <% end %>
  </p>
  </li>
</div>
</div>
