  <div id="comment_body">
	<%= link_to comment.user do %>
  	<% if comment.user.picture? %>
    	<%= image_tag comment.user.picture.url(:thumb), :class => "userImage" %>
  	<% else %>
    	<%= image_tag "defaultProfilePic.jpg", :class => "userImage", :width=>"40"%>
  	<% end %>
	<li>
	  <%= comment.user.name %><br>
	<% end %>
	<%= comment.body %>
	</li>
  </div>
  
  <div>
	<br>
	<% if comment_owner(comment) %>
	  <button><%= link_to 'delete', delete_comment_path(comment), :method => :delete %></button>
	<% end %>
  </div>
  
	<% comment.children.each do |reply| %>
	<blockquote>
		<%= render reply %>
		<%= render :partial => "comment_form", :locals => {:parent => reply} if logged_in? %>
	</blockquote>
	<% end %>
  	<hr>
