<p>Hey <%= @user.name %>,</p>

<p>Congratulations on creating your project, <%= @project.name %>!</p>

<p>Your project will be funded if it reaches it's goal of <%= number_to_currency(@project.funding_goal, :precision => 0) %> by the end date of <%= @project.end_date.strftime("%m/%d/%Y") %>.</p>

<p>Best of luck!</p>

<%= render :partial => "signature" %>
