<p>Hello, <%= @user.name %>,</p>

<p>An update has been posted for "<%= @project.name %>."</p>

<p><%= @project.title %></p>

<p>You can also find the update on the project's page <%= link_to "here", @project %> and once again, thanks for your contribution!</p>


<%= render :partial => "signature" %>