<%= form_for(@group) do |f| %>

  <%= render 'shared/form_errors', subject: @group %>

  <p><%= render :partial => "picture", :locals => {:f => f} %></p>

  <div class="field">
    <%= f.label :name, "Group Name: " %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description, "Short Description: " %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :long_description, "Long Description: " %>
    <%= f.text_area :long_description %>
  </div>

  <div class="field">
    <%= f.label :open, "Open: " %>
    <%= f.select :open, options_for_select([ ["Open", true], ["Closed", false] ], @group.open)  %>
  </div>

  <script type="text/javascript">
//<![CDATA[
  if (typeof CKEDITOR != 'undefined') { CKEDITOR.inline('group[long_description]'); }
  //]]>
  </script>

  <div class="submit">
    <%= f.submit :class => 'btn btn-success btn-large submit-form' %>
  </div>
<% end %>
