<div class="admin-header">
<h1>
	<%= @group.name %> Admin Page
	<%= link_to "Delete this group", destroy_group_path(@group), :confirm => "Are you sure? This can not be reversed.", :class => 'btn btn-large btn-danger pull-right' %>
</h1>
<br>
<h2>Projects waiting for approval:</h2>
</div>

<div class="row group-tiles">
<ul class="thumbnails-small">
  <% @group.approvals.where(:approved => nil).each do |project| %>
	<% @project = Project.find(project.project_id) %>
    <li class="project-span">	
	  <div class="thumbnail-small">
        <%= link_to @project do %>
          <% if @project.picture? %>
	        <%= image_tag @project.picture.url(:thumb), :width => '171' %>
	      <% else %>
	        <%= image_tag "BlockSThumb.png", :width => '171' %>
	      <% end %>
	    <% end %>
        <h4 class="ellipsisName"><%= link_to @project.name, @project %></h4>
        <p class="byline">by <%= link_to @project.user.name, @project.user %></p>
        <%= link_to 'Approve', approve_approval_path(@group, project), :class => "btn btn-primary btn-mini" %>
        <%= link_to 'Reject', '#', :class => "btn btn-danger btn-mini", :onclick => "$(\"#myModal-#{project.id}\").modal('show')" %>
      </div>
    </li> 
	
	<div id=<%= "myModal-#{project.id}" %> class="modal fade">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	    <h3>Please provide a reason for rejecting this project.</h3>
	  </div>
	  <div class="modal-body">
	  	<%= form_tag reject_approval_path(@group, project) do %>
				<%= text_area_tag :reason, '', :class => 'field span4', :rows => 6 %>
	  	
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn" data-dismiss="modal" >Cancel</a>
	    <%= submit_tag "Submit", :class => 'btn btn-primary' %>
	    <% end %>
	  </div>
	</div>
<% end %>
</ul>
</div>

<div class="admin-lists">
<h2> Lists </h2>
<% if @group.lists.count > 0 %>
  <p><%= link_to "Click here ", add_list_to_group_path(@group) %> to create a new list.</p>
<% end %>
<% if @group.lists.count == 0 %>
  <p><span class="italic">You do not have any lists.</span> <%= link_to "Click here ", add_list_to_group_path(@group) %> to create one.</p>
<% end %>
<% for list in @group.lists %>
	<% if list.title == "" %>
	  <h3>Untitled List</h3>
	<% else %>  
	  <h3><%= list.title %></h3>
	<% end %>  
	<%= link_to 'Edit', edit_list_path(list) %>
	<%= link_to "Delete", destroy_list_path(list) %>
	<br>
<% end %>

<p>&nbsp;</p>
<p>&nbsp;</p>
<h4><%= link_to '< Back to Group Page', @group %></h4>
<p>&nbsp;</p>
</div>


<!-- Email Modal -->
<% unless @approval.nil? %>		
<script> 
   $(document).ready(function () {
	   $("<%= "#myModal-#{@approval.id}" %>").modal('show');
  	});
</script>
<% end %>
