<h1>Group Admin Page!</h1>

<table class="table table-striped">
<thead><tr><td>Id</td></tr></thead>
<% @group.approvals.where(:approved => nil).each do |a| %>
	<tr>
	<% @project = Project.find(a.project_id) %>
	<% next if @project.can_edit? %>
	
	<td><%= a.project_id %></td>
	<td><%= link_to 'Approve', approve_approval_path(@group, a) %></td>
	<td><%= link_to 'Reject', '#', :onclick => "$(\"#myModal-#{a.id}\").modal('show')" %></td>
	
	<div id=<%= "myModal-#{a.id}" %> class="modal fade">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	    <h3>Please provide a reason for rejecting this project.</h3>
	  </div>
	  <div class="modal-body">
	  	<%= form_tag reject_approval_path(@group, a) do %>
				<%= text_area_tag :reason, '', :class => 'field span4', :rows => 6 %>         	
	  	
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn" data-dismiss="modal" >Cancel</a>
	    <%= submit_tag "Submit", :class => 'btn btn-primary' %>
	    <% end %>
	  </div>
	</div>

	</tr>
<% end %>
</table>

<%= link_to 'Back to Group', @group %>

<h2> Lists </h2>
<% for list in @group.lists %>
	List <%= list.title %>
	<%= link_to 'Edit', edit_list_path(list) %>
	<%= link_to "Delete", destroy_list_path(list) %>
	<br>
<% end %>
<br>
<%= link_to "Add New List", add_list_to_group_path(@group) %>
<br>
<%= link_to "Delete this group", destroy_group_path(@group), :confirm => "Are you sure? This can not be reversed.", :class => 'btn btn-large btn-danger' %>

<!-- Email Modal -->
<% unless @approval.nil? %>		
<script> 
   $(document).ready(function () {
	   $("<%= "#myModal-#{@approval.id}" %>").modal('show');
  	});
</script>
<% end %>