<div class="groups">
<% @groups.each do |group| %>
  <div class="group">
    <div class="info">
      <span class="name"><%= link_to group.name, group %></span>
      <span class="num-projects"><%= pluralize(group.projects.count, 'Project') %></span>
    </div>
    <div class="description">
      <%= group.description %>
    </div>
    <div class="images">
      <% group.projects.limit(6).each do |p| %>
        <%= p.decorate.thumbnail_tag %>
      <% end %>
    </div>
  </div>
<% end %>
</div>

<div class="groups-actions">
  <%= link_to "Create a New Group", new_group_path, class: 'btn btn-large btn-primary' %>

  <% if @user_groups.any? %>
    <h4>You have projects in:</h4>
    <% for group in @user_groups %>
      <%= link_to group.name, group, class: 'sidebar-group' %><br>
    <% end %>
    <br>
  <% end %>

  <% if @admin_groups.any? %>
    <h4>Groups you own:</h4>
    <% @admin_groups.each do |group| %>
      <%= link_to group.name, group, class: 'sidebar-group' %><br>
    <% end %>
  <% end %>
</div>
