<div id="header">
	Browse Groups.<br>
</div>

<div class="groups-container"> 
 <div class="row">  
 <div class="span7">
  <% @groups.each do |group| %>
	<div class="group-container">
	  <%= link_to group.name, group, :class => "group-link" %> 
	  <span class="num-projects"><%= group.projects.size %> <% if group.projects.size == 1 %>Project <% else %>Projects <% end %></span><br>
	  <%= group.description %>
	  <% group.projects.limit(6).each do |p| %>
	    <div class="group-pic">
	      <% if p.picture? %>
            <%= image_tag p.picture.url(:thumb), :width => '60' %><br>
          <% else %>
            <%= image_tag "BlockSThumb.png", :width => '60' %>
          <% end %>
	    </div>
	  <% end %>
	</div>
  <% end %>
 </div>
 
 <div class="groups-sidebar">
   Search Groups... []<br>
   <%= link_to "Create a New Group", new_group_path, :class => 'btn' %><br>
   Groups you have active projects in<br>
   <% for group in @user_groups %>
   	<%= link_to group.name, group %><br>
   <% end %>
   
   Groups you admin...<br>
   <% for group in @admin_groups %>
   	<%= link_to group.name, group %> <%= link_to group.approvals.where(:approved => nil).count, group_admin_path(group) %><br>
   <% end %>
   Projects you need to approve
 </div>
</div>
</div>
<p>&nbsp;</p>