<% @groups.each do |group| %>
  <%= link_to group do %>
    <div class="well group-bar">
      <span class="group-name"><%= group.name %></span>
      <![if !IE]>
        <span class="num-projects"><%= pluralize(group.projects.count, 'Project') %></span><br>
      <![endif]>
      <span class="group-description"><%= group.description %></span>
      <% group.projects.limit(6).each do |p| %>
        <div class="group-pic">
          <% if p.picture? %>
            <%= image_tag p.picture.url(:thumb), width: '60' %><br>
          <% else %>
            <%= image_tag "BlockSThumb.png", width: '60' %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= link_to "Create a New Group", new_group_path, class: 'btn btn-large btn-primary', id: 'new-group' %>

  <% if @user_groups.any? %>
    <h4>You have projects in:</h4>
    <% for group in @user_groups %>
      <%= link_to group.name, group, class: 'sidebar-group' %><br>
    <% end %>
    <br>
  <% end %>

  <% if @admin_groups.any? %>
    <h4>Groups you own:</h4>
    <% for group in @admin_groups %>
      <%= link_to group.name, group, class: 'sidebar-group' %><br>
      <span class="sidebar-needs-approval">
        <%= link_to "- #{pluralize(group.approvals.where(status: :approved).count, "project")} needs your approval", group_admin_path(group) %>
      </span><br>
    <% end %>
  <% end %>
<% end %>

<p>&nbsp;</p>
