<h1><%= @group.name %></h1>
<%= link_to "Submit One of Your Projects to this group", new_add_path(@group), :class => 'btn' %>
<%= link_to "Admin", group_admin_path(@group) %><br>
<div class="row">
  <div class="span7">
    <%= image_tag @group.picture.url(:show), :class => "projectImage" if @group.picture? %>
  </div>
  <div class="span2">
	  <%= @group.description %>
  </div>
</div>

<div class="row offset1-5">
  <ul class="thumbnails">
    <% @group.projects.each do |project| %>
      <li class="project-span">
        <%= render :partial => 'shared/project', :locals => { :project => project } %><br>
        <%= link_to "Remove from Group", remove_project_from_group_path(@group, project), :confirm => "Are you sure you want to remove this project from the group?", :class => 'btn btn-danger' %>
      </li>  
    <% end %>
  </ul>
</div>

<div class="row">
	<div class="span12">
		<% for item in @group.lists.first.items.order("position DESC") %>
			<%= Project.find(item.itemable_id).name %><br>
		<% end %>
	</div>
</div>