<h1><%= @group.name %></h1>
<div class="description"><%= @group.description %></div>
<%= image_tag @group.picture.url(:show), class: "groupImage" if @group.picture? %>
&nbsp;

<div class="group-actions">
  <%= link_to "Add a project", new_group_approval_path(@group), :class => 'btn btn-large btn-primary' %><br><br>
  <%= link_to "Admin Page", group_approvals_path(@group) if group_admin?(@group) %>
</div>

<%= render 'projects' %>
