<h1><%= @group.name %></h1>
<%= image_tag @group.picture.url(:show), :class => "projectImage" if @group.picture? %><br>
<% @group.projects.each do |p| %>
	 <%= p.name %> <%= link_to "remove", remove_project_from_group_path(@group, p) %>
	 <br>
<% end %>
<%= link_to "Submit One of Your Projects to this group", new_approval_path(@group), :class => 'btn' %>
<%= link_to "Admin", group_admin_path(@group) %>