<div class='statistics'>
  <div class='stat'>
    <span class='number'><%= @user.projects.count %></span>
    <%= @user.projects.one? ? 'Project' : 'Projects' %>
  </div>

  <div class='stat'>
    <span class='number'><%= @user.contributions.count %></span>
    <%= @user.contributions.one? ? 'Contribution' : 'Contributions' %>
  </div>

  <div class='stat'>
    <span class='number'>$<%= @user.contributions.map(&:amount).inject(:+).to_i %></span>
    Contributed
  </div>
</div>
