<h1><%= @user.name %></h1>

<span id='user-email'><%= @user.email %></span>

<p>Member for <%= distance_of_time_in_words @user.created_at, Time.now %></p>

<%= "#{@user.name} is #{'not' unless @user.admin?} an admin" %>
<% if can? :toggle_admin, @user %>
  <%= if @user.admin?
        button_to 'Demote from admin', toggle_admin_user_path(@user, admin: false), method: :post, class: 'btn btn-warning'
      else
        button_to 'Promote to admin', toggle_admin_user_path(@user, admin: true), method: :post, class: 'btn btn-success'
      end
    %>
<% end %>

<%= render :partial => 'stats_banner' %>
