<h1><%= @user.name %></h1>

<span id='user-email'><%= @user.email %></span>

<p>Member for <%= distance_of_time_in_words @user.created_at, Time.now %></p>

<%= "#{@user.name} is #{'not' unless @user.admin?} an admin" %>
<% if can? :toggle_admin, @user %>
  <%= if @user.admin?
        button_to 'Demote from admin', toggle_admin_user_path(@user, admin: false), class: 'danger-button'
      else
        button_to 'Promote to admin', toggle_admin_user_path(@user, admin: true)
      end
    %>
<% end %>

<%= "#{@user.name}'s account is #{@user.blocked ? 'blocked' : 'active'}" %>
<% if can? :block, @user %>
  <%= if @user.blocked?
        button_to 'Unblock account', block_user_path(@user, blocked: false)
      else
        button_to 'Block account', block_user_path(@user, blocked: true), class: 'danger-button'
      end
    %>
<% end %>

<%= render :partial => 'stats_banner' %>
