<h1>Users</h1>

<table class='table'>
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Email</td>
      <td>Projects</td>
      <td>Contributions</td>
      <td>Admin?</td>
      <td><%#Action links%></td>
    </tr>
  </thead>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.name, user %>
      <td><%= mail_to user.email %></td>
      <td><%= user.projects.count %></td>
      <td><%= user.contributions.count %></td>
      <td><%= user.admin? ? 'Admin' : '---' %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
    </tr>
  <% end %>
</table>
