<div class="user-profile">
  <%= @user.show_page_image_tag %>

  <div class="info">
    <h1><%= @user.name %></h1>

    <p>Member for <%= distance_of_time_in_words @user.created_at, Time.now %></p>
    <% if @user.location? %>
      From <%= @user.location %>
    <% end %>
  </div>

  <%= render :partial => 'stats_banner' %>
</div>

<div class="projects">
  <% @user.projects.each do |project| %>
    <%= render partial: 'shared/project', locals: {project: project} %>
  <% end %>
</div>
