<% project = ProjectDecorator.decorate project %>

<div class="project-card">
  <%= link_to project.thumbnail_tag, project %>
  <div class="metadata">
    <h4 class="name"><%= link_to project.name, project %></h4>
    <div class="byline">by <%= link_to project.owner.name, project.owner %></div>
    <p class="description"><%= project.short_description %></p>
  </div>

  <%= render 'projects/progress', project: project %>

  <div class="money-raised">
    <span class="bold"><%= number_to_currency(project.contributions_total, :precision => 0) %></span>
    <span class="italic"> raised</span>
    <span class="bold">(<%= project.contributions_percentage %>%)</span>
  </div>

  <div class="time-left"><span class="bold"><%= project.remaining_time %></span></div>
  <div class="state">
    <%= project.colored_state_description if project.state != 'active' %>
  </div>
</div>
