<div id="projectPreview">

	<div class="floatRight">
		<div class="contributionBar"><%= project.contributions_percentage %></div>
	</div>
	
	<p class="ellipsisName"><%= link_to project.name, project %></p>

	<%= link_to project do %>
	<div align="center">
		<% if project.picture? %>
			<%= image_tag project.picture.url(:thumb), :class => "projectPreviewImage" %>
		<% else %>
			<%= image_tag "BlockSThumb.png", :class => "projectPreviewImage" %>
		<% end %>
	</div>
	<% end %>

	<p>By: <%= project.user.name %></p>
	<div class="ellipsisDesc">
	<p><%= project.short_description %></p>
	</div>

	<div class="project_footer">
<hr />
		<ul>
			<li><%= project.end_date %></li>
			<li><%= number_to_currency(project.contributions_total, :precision => 0) %> / <%= number_to_currency(project.funding_goal, :precision => 0) %></li>
		</ul>

		<ul>
			<li>End Date</li>
			<li>Pledged</li>
		</ul>
  </div>

</div>
