    <%= link_to "x", remove_project_from_group_path(@group, project) if (@group) and (@group.admin_user_id == current_user.id or project.user_id == current_user.id) %>
    <div class="thumbnail">
    <%= link_to project do %>
      <% if project.picture? %>
	    <%= image_tag project.picture.url(:thumb), :width => '213' %>
	  <% else %>
	    <%= image_tag "BlockSThumb.png", :width => '213' %>
	  <% end %>
	<% end %>
      <h4 class="ellipsisName"><%= link_to project.name, project %></h4>
      <p class="byline">by <%= link_to project.user.name, project.user %></p>
      <p class="ellipsisDesc"><%= project.short_description %></p>
      <hr>
      <div class="project-footer">
	    <div class="progress">
	      <% if project.contributions_percentage >= 1 %>
		    <div class="bar" style="width: <%= project.contributions_percentage %>%;"></div>
		  <% else %>
		    <div class="bar" style="width: 1%;"></div>
		  <% end %>
		</div>
		<div class="money-raised"><span class="bold"><%= number_to_currency(project.contributions_total, :precision => 0) %></span> <span class="italic">raised</span></div>
		<div class="time-left"><span class="bold"><%= distance_of_time_in_words(Time.now, project.end_date) %></span> <span class="italic">left</span></div>
		<div class="state">
			<% case project.state %>
		  	  <% when 'unconfirmed' %>
		  		<span class="label label-warning">Unconfirmed</span>
			  <% when 'inactive' %>
				<span class="label label-warning">Inactive</span>
			  <% when 'active' %>
			  <% when 'funded' %>
				<span class="label label-success">Funded!</span>
			  <% when 'nonfunded' %>
				<span class="label label-inverse">Unfunded</span>
			  <% when 'canceled' %>
				<span class="label label-inverse">Canceled</span>
			  <% else %>
				<span class="label label-important">Error</span>
			<% end %>
		</div>
      </div>
    </div>
