<h3> Comments </h3><br>
		
  <ul class="projectComments">
  	<h4><%= "There are no comments for this project." if @all_comments.size == 0 %></h4>
    <% @all_comments.each do |comment|%>
      <div id="comment_body">
	    <%= link_to comment.user do %>
		  <% if comment.user.picture? %>
            <%= image_tag comment.user.picture.url(:thumb), :class => "userImage" %>
          <% else %>
            <%= image_tag "defaultProfilePic.jpg", :class => "userImage", :width=>"40"%>
          <% end %>
        <li>
		  <%= comment.user.name %><br>
		<% end %>
	    <%= comment.body %>
	    </li>
	  </div>
	  <div>
	  	<br><br>
	  	<% if comment_owner(comment) %>
	      <p class="btn btn-mini"><%= link_to 'delete', delete_comment_path(comment), :method => :delete %></p>
	    <% end %>
	  </div>
      <hr>
    <% end %>
  </ul>