<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  
  <h4>Add a comment:</h4><%= f.text_area :body, :rows => 4, :class => 'span5' %> <br />
  <%= hidden_field_tag 'projectid', @project.id %>
  <%= hidden_field_tag 'parentCommentId', parent.id if parent != nil %>
  <%= f.submit %>
  
<% end %>
