<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  
  <%= f.label :comment, 'Comment:'%> <%= f.text_field :body %> <br />
  <%= hidden_field_tag 'projectid', @project.id %>
  <%= f.submit %>
  
<% end %>
