<%= form_for(@project, :html => {:multipart => true}) do |f| %>

<div id="form">

	<% if @project.errors.any? %>
		<div id="error_explanation">
		<h2><%= pluralize(@project.errors.count, "error") %> prevented this project from being saved:</h2>
		<ul>
		<% @project.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
		</div>
	<% end %>

<div class="row">
  <div class="span1-5">
    <%= f.label :name, "Project Name: " %>
  </div>
  <div class="span4">
    <%= f.text_field :name %>
  </div>
</div>

<p><%= render :partial => "picture", :locals => {:f => f} %></p>

<div class="row">
  <div class="span1-5">
    <%= f.label :category, "Category: " %>
  </div>
  <div class="span4">
    <%= f.collection_select :category_id, Category.all, :id, :short_description %>
  </div>
</div>

<div class="row">
  <div class="span1-5">
    <%= f.label :short_description, "Short Description: " %>
  </div>
  <div class="span4">
    <%= f.text_field :short_description%>
  </div>
</div>

<div class="row">
  <div class="span1-5">
    <%= f.label :long_description, "Long Description: " %>
  </div>
  <div class="span4">
    <%= f.text_area :long_description, :rows => 8, :class => 'span4' %></p>
  </div>
</div>
</div>
<% end %>
