<%= form_for(@project, :html => {:multipart => true}) do |f| %>

<div id="form">

	<% if @project.errors.any? %>
		<div id="error_explanation">
		<h2><%= pluralize(@project.errors.count, "error") %> prevented this project from being saved:</h2>
		<ul>
		<% @project.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
		</div>
	<% end %>

<div class="row">
  <div class="span1-5">
    <%= f.label :name, "Project Name: ", :class => 'pull-right' %>
  </div>
  <div class="span4">
    <%= f.text_field :name %>
  </div>
</div>

<div class="row">
  <div class="span1-5">
    <%= f.label :category, "Category: ", :class => 'pull-right' %>
  </div>
  <div class="span4">
    <%= f.collection_select :category_id, Category.all, :id, :short_description %>
  </div>
</div>

<div class="row">
  <div class="span1-5">
    <%= f.label :funding_goal, "Funding Goal: $", :class => 'pull-right' %>
  </div>
  <div class="span4">
    <%= f.text_field :funding_goal, :size => 10 %>
  </div>
</div>

<div class="row">
  <div class="span1-5">
    <%= f.label :end_date, "End Date: ", :class => 'pull-right' %>
  </div>
  <div class="span4">
    <%= f.text_field :end_date, :size => 10, :id => "DatePickerEndDate", :value => @project.end_date.blank? ? '' : format_date(@project.end_date) %>
  </div>
</div>

<div class="row">
  <div class="span1-5">
    <%= f.label :short_description, "Short Description: ", :class => 'pull-right' %>
  </div>
  <div class="span4">
    <%= f.text_field :short_description%>
  </div>
</div>

<div class="row">
  <div class="span1-5">
    <%= f.label :long_description, "Long Description: ", :class => 'pull-right' %>
  </div>
  <div class="span4">
    <%= f.text_area :long_description, :rows => 8, :class => 'span4' %></p>
  </div>
</div>
<p><%= render :partial => "picture", :locals => {:f => f} %></p>
<p><%= link_to "Add Video", upload_project_video_path(@project) %> </p>
<br>
    <% if @project.unconfirmed? %>
			<p><strong>*Amazon Payments*</strong></p>
		  <p><em>The last step in creating your project is associating it with an Amazon Payments account so that your donations have somewhere to go when your project is funded.</p>
		  <p>Clicking "Update Project" will redirect you to Amazon Payments. Once you've completed associating your account you will be brought back here.</em></p>
		<% end %>
		
<div class="row">
  <div class="span1-5">
    &nbsp;
  </div>
  <div class="span2">
    <%= f.submit :class => 'btn btn-success' %>
  </div>
</div>
</div>
<% end %>
