<%= form_for(@project, :html => {:multipart => true}) do |f| %>

<div id="form">

	<% if @project.errors.any? %>
		<div id="error_explanation">
		<h2><%= pluralize(@project.errors.count, "error") %> prevented this project from being saved:</h2>
		<ul>
		<% @project.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
		</div>
	<% end %>

<p>Name: <%= f.text_field :name  %></p>
<p><%= render :partial => "picture", :locals => {:f => f} %></p>
<p>Category: <%= f.collection_select :category_id, Category.all, :id, :short_description %></p>
<p>Funding Goal: $ <%= f.text_field :funding_goal, :size => 10 %></p>
<p>End Date: <%= f.text_field :end_date, :size => 10, :id => "DatePickerEndDate", :value => @project.end_date.blank? ? '' : format_date(@project.end_date) %> </p>
 
<p>Short Description:<br>
	 <%= f.text_field :short_description%></p>

<p>Long Description:<br>
	<%= f.text_area :long_description, :size => "40x10" %></p>

</div>
<<<<<<< HEAD
<p>The last step in creating your project is associating it with an Amazon Payments account so that your donations have somewhere to go when your project is funded. Clicking submit will redirect you to Amazon Payments. Once you've completed associating your account you will be brought back here.</p>

=======
>>>>>>> 824209fd6454221e31905b831203de35162cf94c
<%= f.submit %>
<% end %>
