<%= form_for(@project, :html => {:multipart => true}) do |f| %>

	<% if @project.errors.any? %>
		<div id="error_explanation">
		<h2><%= pluralize(@project.errors.count, "error") %> prevented this project from being saved:</h2>
		<ul>
		<% @project.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
		</div>
	<% end %>
    
<div class="row well">
  <div class="span1-5">
    <%= f.label :name, "Project Name: ", :class => 'pull-right bold' %>
  </div>
  <div class="span4">
    <%= f.text_field :name, :class => 'span3' %>
  </div>
</div>
    
<p><%= render :partial => "picture", :locals => {:f => f} %></p>
<p><%= render :partial => "videos/form", :locals => {:f => f} %></p>

<div class="row well">
  <div class="span1-5">
    <%= f.label :category, "Category: ", :class => 'pull-right bold' %>
  </div>
  <div class="span4">
    <%= f.collection_select :category_id, Category.all, :id, :short_description %>
  </div>
</div>

<div class="row well">
  <div class="span1-5">
    <%= f.label :funding_goal, "Funding Goal: $", :class => 'pull-right bold' %>
  </div>
  <div class="span4">
    <%= f.text_field :funding_goal, :class => 'span3', :placeholder => '0.00' %>
  </div>
</div>

<div class="row well">
  <div class="span1-5">
    <%= f.label :end_date, "End Date: ", :class => 'pull-right bold' %>
  </div>
  <div class="span4">
    <%= f.text_field :end_date, :class => 'span3', :id => "DatePickerEndDate", :value => @project.end_date.blank? ? '' : format_date(@project.end_date) %>
  </div>
</div>

<div class="row well">
  <div class="span1-5">
    <%= f.label :short_description, "Short Description:", :class => 'pull-right bold' %>
  </div>
  <div class="span4">
    <%= f.text_area :short_description, :rows => 4, :class => 'span3' %>
  </div>
  	<span class="help-block">This is used in the projects partial when featured on the homepage or when the project is embedded on another website.</span>
</div>

<div class="row well">
  <div class="span1-5">
    <%= f.label :long_description, "Long Description: ", :class => 'pull-right bold' %>
  </div>
  <div class="span8">
    <%= f.cktext_area :long_description, :cols => 20, :rows => 20, :toolbar => 'Easy' %></p>
  </div>
</div>

<div class="row well">
<h4>Amazon Payments*</h4>
  <p><em>The last step in creating your project is associating it with an Amazon Payments account so that your donations have somewhere to go when your project is funded.</p>
  <p>Clicking "Create Project" will redirect you to Amazon Payments. Once you've completed associating your account you will be brought back here.</em></p>
  <%= f.submit :class => 'btn btn-success btn-large pull-right submit-form' %>
  <div class="loading">
	<h3><%= image_tag 'loading.gif' %> Your Project is being created, please wait...</h3>
  </div>
<p>&nbsp;</p>
</div>
</div>
<% end %>


<script>
  $(".submit-form").click(function () {
    $(".loading").show(0);
    $(".submit-form").hide(0);
  });
</script>

<style>
	.loading {
		display: none;
	}
</style>
