<div class="projectPreview">
	<% if project.picture.exists? %>
		<%= image_tag project.picture.url(:thumb), :class => "projectPreviewImage" %>
	<% end %>

	<%= link_to project.name, project %><br>
	<%= project.short_description %><br>
	<%= project.end_date %><br>
	<%= number_to_currency(project.funding_goal, :precision => 0) %>
</div>
