<div class="projectPreview">
	<% if project.picture.exists? %>
		<%= image_tag project.picture.url(:thumb), :class => "projectPreviewImage" %>
	<% end %>
	<div class="floatRight">
		<!-- The value inside ths div tags should be the funding percentage completed -->
		<div class="progressBar">70</div>
	</div>

	<%= link_to project.name, project %><br>
	<%= project.short_description %><br>
	<%= project.end_date %><br>
	<%= number_to_currency(project.funding_goal, :precision => 0) %>
</div>
