<div class="projectPreview">
	<% if project.picture.exists? %>
		<%= image_tag project.picture.url(:thumb), :class => "projectPreviewImage" %>
	<% end %>

	<%= link_to project.name, project %><br>
	<%= project.shortDescription %><br>
	<%= project.endDate %><br>
	$<%= project.fundingGoal %>
</div>
