<h2>Edit <%= @project.name %></h2>

<%= form_for(@project, :html => {:multipart => true}) do |f| %>

    <% if @project.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prevented this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      </div>
    <% end %>

  <div class="field">
    <%= f.label :name, "Project Name: " %>
    <%= f.text_field :name %>
  </div>

  <%= render :partial => "picture", :locals => { :f => f } %>
  <%# TODO fix videos = render :partial => "videos/form", :locals => { :f => f, :@video => @project.video} %>

  <div class="field">
    <%= f.label :funding_goal, "Funding Goal: $" %>
    <%= f.text_field :funding_goal, :placeholder => '0.00' %>
  </div>

  <div class="field">
    <%= f.label :end_date, "End Date: " %>
    <%= f.text_field :end_date, :id => "DatePickerEndDate", :value => @project.end_date.blank? ? '' : format_date(@project.end_date) %>
  </div>

  <div class="field">
    <%= f.label :short_description, "Short Description:" %>
    <%= f.text_area :short_description, :rows => 4 %>
  </div>

  <div class="field">
    <%= f.label :long_description, "Long Description: " %>
    <%= f.cktext_area :long_description, :cols => 20, :rows => 40, :toolbar => 'Easy' %></p>
  </div>

  <div class="submit">
    <%= f.submit :class => 'btn btn-success btn-large submit-form' %>
  </div>
<% end %>
