<% cache({:action => 'index', :action_suffix => 'body'}, :expires_in => 1.minute) do %>

<div id="alignBox">
	<%= link_to new_project_url do %>
  <div id="createFundBox">
	<ul>
		<li>
			<h1>Create a Project</h1>
			<p>Do you want to create something, make a movie or build a robot? Have this great idea but don’t have the resources? 
				Contribute can help make that happen. Start getting your project funded here so you can make that dream come true.</p>
		</li>
	</ul>
  </div>
	<% end %>

	<%= link_to root_path do %>
  <div id="createFundBox">
	<ul>
		<li>
			<h1>Browse Categories</h1>
			<p align="center">Coming Soon! </p>
		</li>
	</ul>
  </div>
	<% end %>
</div>

<% if @projects1.count > 0 %>
  <div class="column1">
	<% @projects1.each do |project| %>
		<%= render :partial => 'shared/project', :locals => { :project => project } %>
	<% end %>
  </div>
<% end %>

<% if @projects2.count > 0 %>
  <div class="column2">
	<% @projects2.each do |project| %>
		<%= render :partial => 'shared/project', :locals => { :project => project } %>
	<% end %>
  </div>
<% end %>

<% if @projects3.count >0 %>
  <div class="column3">
	<% @projects3.each do |project| %>
		<%= render :partial => 'shared/project', :locals => { :project => project } %>
	<% end %>
</div>
<% end %>

<% end %>
