<% if notice %>
<p id="notice" ><%= notice %></p>
<% end %>

<h1>Temp index page</h1>
<% @projects.each do |project| %>
<li> <%= project.name %> (<%= link_to "View", project_url(project) %>, <%= link_to "Edit", edit_project_url(project) %>)</li>
<% end %>
<br>
<%= link_to "Create Project", new_project_url %>

