<div id="alignBox">
  <div id="createFundBox">
	<ul>
		<li>
			<h1><%= link_to "Create a Project", new_project_url %></h1>
			<p>Do you want to create something, make a movie or build a robot? Have this great idea but don’t have the resources? 
				Contribute can help make that happen. Start getting your project funded here so you can make that dream come true.</p>
		</li>
	</ul>
  </div>

  <div id="createFundBox">
	<ul>
		<li>
			<h1><%= link_to "Browse Categories", root_path %></h1>
			<p align="center">Coming Soon! </p>
		</li>
	</ul>
  </div>
</div>

<div id="indexWrapper">
  <div class="column1">
	<% @projects1.each do |project| %>
		<%= render project%>
	<% end %>
  </div>

  <div class="column2">
	<% @projects2.each do |project| %>
		<%= render project%>
	<% end %>
  </div>

  <div class="column3">
	<% @projects3.each do |project| %>
		<%= render project %>
	<% end %>
  </div>
</div>



