<h2 id='new-project-header'>Tell us a bit about your project...</h2>

<%= form_for(@project, html: {multipart: true}) do |f| %>
  <%= render 'project_error_messages' %>

  <div class="field">
    <%= f.label :name, "Project Name: " %>
    <%= f.text_field :name, :id => 'name' %>
  </div>

  <%= render :partial => "picture", :locals => {:f => f} %>
  <%# TODO fix video %>
  <%#= render :partial => "videos/form", :locals => {:f => f} %>

  <div class="field">
    <%= f.label :funding_goal, "Funding Goal: $" %>
    <%= f.text_field :funding_goal, :placeholder => '0.00' %>
  </div>

  <div class="field">
    <%= f.label :end_date, "End Date: " %>
    <%= f.text_field :end_date, :id => "DatePickerEndDate", :value => @project.end_date.blank? ? '' : format_date(@project.end_date) %>
  </div>

  <div class="field">
    <%= f.label :short_description, "Short Description:" %>
    <%= f.text_area :short_description, :rows => 4 %>
    <span class="help-block">This is used to describe your project when featured on the homepage or when the project is embedded on another website.</span>
  </div>

  <div class="field">
    <%= f.label :long_description, "Long Description: " %>
    <%= f.cktext_area :long_description %>
  </div>

  <div class="submit">
    <%= f.submit :class => 'btn btn-success btn-large submit-form' %>
  </div>
<% end %>
