<script>
$('.tabs').button()
</script>

<div id="projectWrapper">


<div id="sideBar" class="well">
  <div class="projectBtn" align="center">
    <% if can? :destroy, @project %>
		<%= button_to "Delete Project", @project, :method => :delete, :confirm => "Are you sure you want to delete this project? All contributions to it will also be deleted.", :class => 'btn btn-danger btn-large' %>
    <% elsif can? :edit_contribution, @project %>
		<%= button_to "Edit Contribution", edit_contribution_url(@project.contributions.find_by_user_id(current_user.id)),:method => :get,  :class => 'btn btn-primary btn-large' %>
    <% else %>
		<%= button_to "Contribute to this project", new_contribution_url(@project), :method=>:get, :class => 'btn btn-success btn-large' %>
    <% end %>
  </div>
	<ul>
		<li>End Date: <%= @project.end_date %></li>
		<li>Category: <%= Category.find(@project.category_id).short_description %></li>
		<li>Contributed: <%= number_to_currency(@project.contributions_total, :precision => 0) %></li>
		<li>Funding Goal: <%= number_to_currency(@project.funding_goal, :precision => 0) %></li>
	</ul>
</div>

<!-- --------------Bootstrap-tabs------------------- -->

<div id="projectMain">
	<div id="projectHead" align="center">
          <h1><%= @project.name %></h1>
          <h2><%= @project.user.location %></h2>
          <h3>By: <%= link_to @project.user.name, @project.user %> </h3>
	</div>

	<div id="tabs">
  	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#projectContent" data-toggle="tab">Project Info</a></li>
	    <li><a href="#projectContributors" data-toggle="tab">Contributions</a></li>
  	  </ul>
	</div>



	<div class="tab-content">
  	  <div class="tab-pane active" id="projectContent" align="center">
            <% if @project.picture? %>
                <%= image_tag @project.picture.url(:show), :class => "projectImage" %><br>
            <% else %>
                <%= image_tag "BlockSShow.png", :class => "projectImage" %>
            <% end %>
            <br/><br/>
            <%= simple_format(@project.long_description) %><br/>
    	  </div>

	  <div class="tab-pane" id="projectContributors">
	    <h3> Contributors </h3>
	    <ul class="projectContributors">
	    <% if @project.contributions.size > 0 %>
              <% @project.contributions.each do |contribution|%>
                <li>
		<%= link_to contribution.user do %>
		  <% if contribution.user.picture? %>
                    <%= image_tag contribution.user.picture.url(:thumb), :class => "userImage" %>
		  <% else %>
                    <%= image_tag "defaultProfilePic.jpg", :class => "userImage", :width=>"100"%>
        	  <% end %>

		<%=contribution.user.name%>
                <% if can? :destroy, @project %>
                        - <%= number_to_currency(contribution.amount, :precision => 0) %>
                <% end %>
                <% end %>
		</li>		
		<br/>
              <% end %>
	    <% else %>
              <p>Be the first!</p>
	    <% end %>
	    </ul>
	</div>
</div>

</div>

</div>
<!-- -------------- end Bootstrap-tabs ------------------ -->

