<div class="project-header">
  <h1><%= @project.name %></h1>
  <div class="metadata">
    <div class="byline"><%= link_to @project.owner.name, @project.owner %></div>
    <div class="location"><%= @project.owner.location %></div>
  </div>
</div>

<div class="project-info-wrapper">
  <div class="project-media"><%= @project.media %></div>

  <div class="next-action">
    <div class='statistics'>
      <div class="stat">
        <span class="number"><%= (@project.end_date.to_date - Date.today).to_i %></span>
        days left
      </div>
      <div class="stat">
        <span class="number"><%= number_to_currency(@project.contributions_total, precision: 0) %></span>
        contributed
      </div>
      <div class="stat">
        <span class="number"><%= number_to_currency(@project.funding_goal, precision: 0) %></span>
        goal
      </div>
    </div>

    <%= render 'projects/progress', project: @project %>

    <%= render 'action_links' %>
  </div>
</div>

<div id="project">
  <div id="description">
    <%= raw(@project.long_description) %><br/>
  </div>

  <div id="updates">
    <%= render :partial => 'updates/update', :collection => @project.updates %>

    <% if can? :create, @project.updates.new %>
      <%= link_to "Add an update", new_project_update_path(@project) %>
    <% end %>
  </div>
</div>

<div id="project-sidebar">
  <div id="contributors">
    <h3> Contributors </h3>
    <ul>
      <% @project.contributions.each do |contribution|%>
        <li>
          <%= link_to contribution.user do %>
            <%= contribution.user.decorate.project_contributor_picture_tag %>

            <%=contribution.user.name%>
            <% if can? :destroy, @project # TODO abuse of abilities%>
              - <%= number_to_currency(contribution.amount, :precision => 0) %>
            <% end %>
          <% end %>
        </li>
        <br/>
      <% end %>
      <% if @project.contributions.none? %>
        <p>Be the first!</p>
      <% end %>
    </ul>
  </div>

  <div id="comments">
    <h3> Comments </h3>
    <h4><%= "There are no comments for this project." if @project.comments.empty? %></h4>

    <% @project.comments.each do |comment|%>
      <%= render :partial => 'comments/comment', locals: {comment: comment} %>
    <% end %>

    <p class="comment">
    <%# TODO cancan  %>
    <% if logged_in? and @project.can_comment? %>
      <%= render :partial => "comments/comment_form", :locals => {:parent => nil} %>
    <% end %>
    <% unless logged_in? %>
      <%= link_to "Log in to comment.", new_user_session_path %>
    <% end %>
    </p>
  </div>
</div>
