<h1> <%= @project.name %> </h1>
<h2><%= @project.user.location %> </h2>
<h3>By: <%= @project.user.name %> </h3>
<% if @project.picture.exists? %>
	<%= image_tag @project.picture.url(:show), :class => "projectImage" %><br>
<% end %>
Description:<br>
<%= @project.long_description %><br>
End Date: <%= @project.end_date %><br>
Category: <%= Category.find(@project.category_id).short_description %> <br>
Funding Goal: <%= number_to_currency(@project.funding_goal, :precision => 0) %><br>
<br>
<%= link_to "Edit", edit_project_url(@project) %>
<%= link_to "Back", projects_url %>
