<script>
$('.tabs').button()
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('.show_hide').showHide({
  });
});
</script>

<div class="project-header">
  <h1><%= @project.name %></h1>
  <div class="metadata">
    <div class="byline"><%= link_to @project.owner.name, @project.owner %></div>
    <div class="location"><%= @project.owner.location %></div>
  </div>
</div>

<div class="project-info-wrapper">
  <div class="project-media"><%= @project.media %></div>

  <div class="next-action">
    <div class='statistics'>
      <div class="stat">
        <span class="number"><%= (@project.end_date.to_date - Date.today).to_i %></span>
        days left
      </div>
      <div class="stat">
        <span class="number"><%= number_to_currency(@project.contributions_total, precision: 0) %></span>
        contributed
      </div>
      <div class="stat">
        <span class="number"><%= number_to_currency(@project.funding_goal, precision: 0) %></span>
        goal
      </div>
    </div>

    <%= render 'projects/progress', project: @project %>

    <% if @project.owner == current_user %>
      <p><%= @project.colored_state_description %></p><br/>
    <% end %>

    <%= render 'action_links' %>
  </div>
</div>

<div class="project">
  <div id="tabs">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#projectContent" data-toggle="tab">Project Info</a></li>
      <li><a href="#projectContributors" data-toggle="tab">Contributions</a></li>
      <li><a href="#projectComments" data-toggle="tab">Comments</a></li>
      <li><a href="#projectUpdates" data-toggle="tab">Updates</a></li>
    </ul>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="projectContent">
      <%= raw(@project.long_description) %><br/>
    </div>

    <div class="tab-pane" id="projectContributors">
      <h3> Contributors </h3>
      <ul class="projectContributors">
        <% @project.contributions.each do |contribution|%>
          <li>
            <%= link_to contribution.user do %>
              <%= contribution.user.decorate.picture_tag %>

              <%=contribution.user.name%>
              <% if can? :destroy, @project # TODO abuse of abilities%>
                - <%= number_to_currency(contribution.amount, :precision => 0) %>
              <% end %>
            <% end %>
          </li>
          <br/>
        <% end %>
        <% if @project.contributions.none? %>
          <p>Be the first!</p>
        <% end %>
      </ul>
    </div>

    <div class="tab-pane" id="projectComments">
      <p>
      <h3> Comments </h3><br>
      <ul class="projectComments">
        <h4><%= "There are no comments for this project." if @rootComments.empty? %></h4>

        <% @rootComments.each do |comment|%>
          <%= render :partial => 'comments/comment', :object => comment, :locals =>{:comment_depth => 0} %>
        <% end %>
      </ul>
      </p>
      <br>
      <p class="comment">
      <%# TODO cancan  %>
      <%= render :partial => "comments/comment_form", :locals => {:parent => nil} if logged_in? and @project.can_comment? %>
      <% if !logged_in? %>
        <div class="alert">
          <%= link_to "You must log in to comment.", new_user_session_path %>
        </div>
      <% end %>
      </p>
    </div>

    <div class="tab-pane" id="projectUpdates">
      <ul class="projectUpdates">
        <h4><%= "There are no updates for this project." if @updates.empty? %></h4>

        <%= render :partial => 'updates/update', :collection => @updates %>

      </ul>
      <p>&nbsp;</p>
      <p class="update">
      <%= render :partial => "updates/update_form", :object => @update if can? :create, @project.updates.new %>
      </p>
    </div>
  </div>
</div>
