<h1> <%= @project.name %> </h1><br>
Short Desc: <%= @project.shortDescription %><br>
Start Date: <%= @project.endDate %> TODO: GET THIS TO WORK<br>
End Date: <%= @project.endDate %> TODO: GET THIS TO WORK<br>
Created At: <%= @project.created_at %><br>
Updated At: <%= @project.updated_at %><br>
Category: <%= Category.find(@project.categoryId).shortDescription %> <br>
Funding Goal: <%= number_to_currency(@project.fundingGoal) %><br>
Active: <%= @project.active %><br>
<br>
<%= link_to "Back", projects_url %>
