<h1> <%= @project.name %> </h1>
<% if @project.picture.exists? %>
	<%= image_tag @project.picture.url(:show), :class => "projectImage" %><br>
<% end %>
Description:<br>
<%= @project.longDescription %><br>
End Date: <%= @project.endDate %><br>
Category: <%= Category.find(@project.categoryId).shortDescription %> <br>
Funding Goal: $<%= @project.fundingGoal %><br>
<br>
<%= link_to "Edit", edit_project_url(@project) %>
<%= link_to "Back", projects_url %>
