<script>
$('.tabs').button()
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('.show_hide').showHide({
  });
});
</script>

<!-- --------------Bootstrap-tabs------------------- -->

<div class="well">
  <div id="projectHead" align="center">
    <h1><%= @project.name %></h1>
    <h2><%= @project.owner.location %></h2>
    <h3>By: <%= link_to @project.owner.name, @project.owner %> </h3>
    <div class="add_show">
      <div class="star_up"></div>
      <div class="star_on"></div>
    </div>
  </div>

  <div id="tabs">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#projectContent" data-toggle="tab">Project Info</a></li>
      <li><a href="#projectContributors" data-toggle="tab">Contributions</a></li>
      <li><a href="#projectComments" data-toggle="tab">Comments</a></li>
      <li><a href="#projectUpdates" data-toggle="tab">Updates</a></li>
    </ul>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="projectContent">

      <%= @project.media %>

      <br/><br/>
      <%= raw(@project.long_description) %><br/>
    </div>

    <div class="tab-pane" id="projectContributors">
      <h3> Contributors </h3>
      <ul class="projectContributors">
        <% @project.contributions.each do |contribution|%>
          <li>
            <%= link_to contribution.user do %>
              <%= contribution.user.decorate.picture_tag %>

              <%=contribution.user.name%>
              <% if can? :destroy, @project # TODO abuse of abilities%>
                - <%= number_to_currency(contribution.amount, :precision => 0) %>
              <% end %>
            <% end %>
          </li>
          <br/>
        <% end %>
        <% if @project.contributions.none? %>
          <p>Be the first!</p>
        <% end %>
      </ul>
    </div>

    <div class="tab-pane" id="projectComments">
      <p>
      <h3> Comments </h3><br>
      <ul class="projectComments">
        <h4><%= "There are no comments for this project." if @rootComments.empty? %></h4>

        <% @rootComments.each do |comment|%>
          <%= render :partial => 'comments/comment', :object => comment, :locals =>{:comment_depth => 0} %>
        <% end %>
      </ul>
      </p>
      <br>
      <p class="comment">
      <%# TODO cancan  %>
      <%= render :partial => "comments/comment_form", :locals => {:parent => nil} if logged_in? and @project.can_comment? %>
      <% if !logged_in? %>
        <div class="alert">
          <%= link_to "You must log in to comment.", new_user_session_path %>
        </div>
      <% end %>
      </p>
    </div>

    <div class="tab-pane" id="projectUpdates">
      <ul class="projectUpdates">
        <h4><%= "There are no updates for this project." if @updates.empty? %></h4>

        <%= render :partial => 'updates/update', :collection => @updates %>

      </ul>
      <p>&nbsp;</p>
      <p class="update">
      <%= render :partial => "updates/update_form", :object => @update if can? :create, @project.updates.new %>
      </p>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <% if @project.owner == current_user %>
    <p><%= @project.colored_state_description %></p><br/>
  <% end %>

  <%= render 'action_links' %>

  <ul id='project-info'>
    <li>End Date: <%= @project.end_date %></li><br>
    <li>Contributed: <%= number_to_currency(@project.contributions_total, :precision => 0) %></li><br>
    <li>Funding Goal: <%= number_to_currency(@project.funding_goal, :precision => 0) %></li>
  </ul>
<% end %>

<script>
$(".add_show").click (function () {
  $(".star_up").toggle(0);
  $(".star_on").toggle(0);
});
</script>

<style>
.star_on {
  display: none;
}
</style>
