<p>Step 2: Upload a video to your project.</p>

<%= form_tag @upload_info[:url], :multipart => true do %>
  <%= hidden_field_tag :token, @upload_info[:token] %>
  <%= label_tag :file %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload video" %>
<% end %> 

<%= link_to "Maybe Later", user_path(current_user) %>