<%= form_for @contribution do |f| %>

  <% if @contribution.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@contribution.errors.count, "error") %> prevented this contribution from being saved:</h2>
    <ul>
    <% @contribution.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  <% end %>

<p>Amount: $<%= f.text_field :amount %></p>
<%= f.hidden_field :project_id, :value => @project.id %>

<%= f.submit "Make Contribution" %>
<% end %>
