<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#user_email').focus();
    });
  </script>
<% end %>

<h2 class='form-header'>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="field">
    <%= f.label :remember_me %>
    <%= f.check_box :remember_me %>
  </div>
  <% end %>

  <div class="submit">
    <%= f.submit "Sign in" %>
  </div>
<% end %>

<div class="alternative-actions">
  <h3>Or, get some help:</h3>
  <li>Don't have an account yet? <%= link_to "Sign up!", new_user_registration_path %></li>
  <li>Forgot your password? <%= link_to "Get a new one.", new_user_password_path %></li>
  <li>Missed the confirmation email? <%= link_to "We can re-send it.", new_confirmation_path(resource_name) %></li>
</div>
