<div id="update_form">
<%= form_for(@update) do |f| %>
  <% if @update.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@update.errors.count, "error") %> prohibited this update from being saved:</h2>
        <ul>
          <% @update.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  <h3>New Update:</h3>
  <br>
  <h4>Update title:</h4><%= f.text_field :title %>
  <h4>Update body:</h4><%= f.cktext_area :content, :rows => 4, :class => 'span5', :toolbar => 'Basic'  %> <br />
  <%= hidden_field_tag 'project_id', @project.id %>
  <%= f.submit :class => 'btn' %>

<% end %>
</div>
