<!DOCTYPE html>
<html>
<head>
	<title>Contribute</title>
	<%= stylesheet_link_tag	"application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<link type="image/png" rel="icon"  href="/assets/favicon.png">
	<link href='http://fonts.googleapis.com/css?family=Voces' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="header">
<%= link_to image_tag("lightbulb5_contribute_logo.png", :class => "logo"), root_path %>

<div id="navigationOptions">
	<%= link_to "Home", root_path %> | 
	<% if user_signed_in? %>
		<%= link_to "View Profile", current_user %> |
		<%= link_to "Edit Profile", edit_user_registration_path %> | 
		<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
 	<% else %>
		<%= link_to "Register", new_user_registration_path %> | <%= link_to "Sign In", new_user_session_path %>
 	<% end %>
</div>
</div>

<div id="flash">
<% if flash[:alert] %>
	<%= flash[:alert] %>
<% end %>
<% if flash[:notice] %>
	<div class="alert"><%= flash[:notice] %></div>
<% end %>
  </div>


<%= yield %>

<div id="footerWrapper">
<div id="aboutContribute">
        <h3>What is Contribute?</h3>
        <p>Contribute is a crowdfunding website designed to help students at Michigan State University develop their projects and ideas. Alumni, students, and other supporters
		are encouraged to fund projects so students can achieve their dreams. </p>
</div>

<div id="footer">
        <p>Categories - Coming soon!</p>
</div>

<div id="copyright">
        <p>Copyright©2012</p>
</div>
</div>


</body>
</html>
