<!DOCTYPE html>
<html>
<head>
	<title>Contribute</title>
	<%= stylesheet_link_tag	"application" %>
	<%= javascript_include_tag "application"%>
	<%= csrf_meta_tags %>
  <%= yield :head %>
	<link type="image/png" rel="icon"  href="/assets/favicon.png">
	<link href='https://fonts.googleapis.com/css?family=Voces' rel='stylesheet' type='text/css'>
</head>
<body>


<script>
    $(".alert").alert('close')
</script>


<div id="navigation">
  <div id="navigation-inner">
    <div id="logo"><%= link_to image_tag("logo.png"), root_path %></div>
    <ul>
      <li><%= link_to "Categories", root_url %></li>
      <li><%= link_to "Create a Project", new_project_url %></li>
    </ul>
    <div id="account-options">
	    <% if user_signed_in? %><%= link_to 'Profile', current_user %> | <%= link_to "Edit Settings", edit_user_registration_path %> | <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %><% else %><%= link_to "Register", new_user_registration_path %> | <%= link_to "Sign In", new_user_session_path %><% end %>
    </div>
  </div>
</div>


<% if flash[:alert] %>
<div id="flash">
	<div class="alert alert-info" ><a class="close" data-dismiss="alert">x</a><%= flash[:alert]%></div>
</div>
<% end %>
<% if flash[:notice] %>
<div id="flash">
	<div class="alert alert-success"><a class="close" data-dismiss="alert">x</a><%= flash[:notice] %></div>
</div>
<% end %>
<% if flash[:error] %>
<div id="flash">
	<div class="alert alert-error"><a class="close" data-dismiss="alert">x</a><%= flash[:error] %></div>
</div>
<% end %>

<div class="container">
  <%= yield %>
</div>

<div id="footer">
  <div id="footer-inner">
    <div id="footer-links">
      <%= link_to "Sign Up", new_user_registration_path %><br>
      <%= link_to "Browse", root_url %><br>
      <%= link_to "Create", new_project_url %><br>
      <%= link_to "Contact", root_url %><br>
    </div>
    <div id="footer-text"><span class="italic">What is Contribute?</span><br>
    Contribute is a crowdfunding website designed to help students at Michigan State University develop their projects and ideas. Alumni, students, and other supporters are encouraged to fund projects so students can achieve their dreams.<br>
    <span class="italic">Copyright © 2012. All Rights Reserved.</span>
    </div>
  </div>
</div>

</body>
</html>
