<!DOCTYPE html>
<html>
<title>Contribute</title>
<head>
	<%= stylesheet_link_tag	"application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

<div id="navigationOptions">
	<%= link_to "Home", root_path %> | 
	<% if user_signed_in? %>
		<%= link_to "View Profile", current_user %> |
		<%= link_to "Edit Profile", edit_user_registration_path %> | 
		<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
 	<% else %>
		<%= link_to "Register", new_user_registration_path %> | <%= link_to "Sign In", new_user_session_path %>
 	<% end %>
</div>

<% if flash[:alert] %>
	<p class="flash-error"><%= flash[:alert] %></p>
<% end %>
<% if flash[:notice] %>
	<p class="flash-notice"><%= flash[:notice] %></p>
<% end %>

<%= yield %>

</body>
</html>
