<!DOCTYPE html>
<html>
<head>
	<title>Contribute</title>
	<%= stylesheet_link_tag	"application" %>
	<%= javascript_include_tag "application"%>
	<%= csrf_meta_tags %>
  <%= yield :head %>
	<link type="image/png" rel="icon"  href="/assets/favicon.png">
	<link href='https://fonts.googleapis.com/css?family=Voces' rel='stylesheet' type='text/css'>
</head>
<body>


<script>
    $(".alert").alert('close')
</script>


<div id="header">
<%= link_to image_tag("lightbulb6_contribute_logo.png", :class => "logo"), root_path %>

<div id="navigationOptions">
	<!--<%= link_to "Home", root_path %> | -->
	<% if user_signed_in? %>
		<%= link_to ("Welcome, " + current_user.name), current_user %>!&nbsp;&nbsp; | &nbsp;&nbsp; 
		<%= link_to "Edit Profile", edit_user_registration_path %>&nbsp;&nbsp; | &nbsp;&nbsp; 
		<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
 	<% else %>
		<%= link_to "Register", new_user_registration_path %> | <%= link_to "Sign In", new_user_session_path %>
 	<% end %>
</div>
</div>

<% if flash[:alert] %>
<div id="flash">
	<div class="alert" ><a class="close" data-dismiss="alert">x</a><%= flash[:alert]%></div>
</div>
<% end %>
<% if flash[:notice] %>
<div id="flash">
	<div class="alert"><a class="close" data-dismiss="alert">x</a><%= flash[:notice] %></div>
</div>
<% end %>
<% if flash[:error] %>
<div id="flash">
	<div class="alert alert-error"><a class="close" data-dismiss="alert">x</a><%= flash[:error] %></div>
</div>
<% end %>

<div class="container">
  <%= yield %>
</div>

<div id="footerWrapper">
<div id="aboutContribute">
        <h3>What is Contribute?</h3>
        <p>Contribute is a crowdfunding website designed to help students at Michigan State University develop their projects and ideas. Alumni, students, and other supporters are encouraged to fund projects so students can achieve their dreams. </p>
</div>

<div id="footer">
        <p>Categories - Coming soon!</p>
</div>

<div id="copyright">
        <p>Copyright ©2012</p>
</div>
</div>


</body>
</html>
