<!DOCTYPE html>
<html>
<%= render 'application/head' %>

<body>
  <script>
    $(".alert").alert('close')
  </script>

  <%= render :partial => 'application/nav_bar' %>
  <%= render 'application/flash', flash: flash%>

  <div class="container">
    <% if content_for? :sidebar %>
      <div class="row">
        <div class="span7 offset1">
          <%= yield %>
        </div>
        <div id="sidebar" class="span3 well">
          <%= yield :sidebar %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </div>

  <%= render 'application/footer' %>
</body>

</html>
